* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header_btn {
  box-sizing: border-box;
  margin: 0;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}
.header_nav {
  min-width: max-content;
  max-width: 20vw;
  width: 100%;
}
.header_nav a {
  display: flex;
  align-items: center;
  gap: 5px;
}
.search_navigation {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__cart {
  display: inline-block;
  align-items: center;
  color: blue;
  background: #fff;
  cursor: pointer;
}
.cart_shopping:hover {
  transform: scale(1.1);
}
